flujo1.txt
[{"id":"a5fded00.c4b12","type":"debug","z":"9c350e61.78843","name":"","active":true,"console":"false","complete":"false","x":650,"y":180,"wires":[]},{"id":"6cf9fa04.8d6fe4","type":"rpi-sensehat in","z":"9c350e61.78843","name":"sensors","motion":false,"env":true,"stick":false,"x":50,"y":180,"wires":[["859a55c1.5c4678","35da13a9.f40a8c"]]},{"id":"7ff8b0b6.8619c","type":"rpi-sensehat out","z":"9c350e61.78843","name":"","x":670,"y":280,"wires":[]},{"id":"21178f23.9649a","type":"function","z":"9c350e61.78843","name":"condition","func":"var temperature = msg.payload.temperature.temperature;\n\nif (temperature >= 37) msg.payload = \"*,*,red\";\nelse if (temperature < 37 & temperature >= 36) msg.payload = \"1-7,*,maroon,0,*,black\";\nelse if (temperature < 36 & temperature >= 35) msg.payload = \"2-7,*,yellow,0-1,*,black\";\nelse if (temperature < 35 & temperature >= 34) msg.payload = \"3-7,*,olive,0-2,*,black\";\nelse if (temperature < 34 & temperature >= 33) msg.payload = \"4-7,*,lime,0-3,*,black\";\nelse if (temperature < 33 & temperature >= 32) msg.payload = \"5-7,*,green,0-4,*,black\";\nelse if (temperature < 32 & temperature >= 31) msg.payload = \"6-7,*,aqua,0-5,*,black\";\nelse if (temperature < 31) msg.payload = \"1-7,*,teal,0-6,*,black\"\nelse msg.payload = \"ERROR\";\nreturn msg;","outputs":"1","noerr":0,"x":500,"y":280,"wires":[["7ff8b0b6.8619c","3edaa64b.d2076a"]]},{"id":"3edaa64b.d2076a","type":"debug","z":"9c350e61.78843","name":"","active":false,"console":"false","complete":"false","x":670,"y":340,"wires":[]},{"id":"622c17c1.aaa4f8","type":"wiotp out","z":"9c350e61.78843","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"f59c71db.1540c","deviceType":"Raspberry-Pi-3","deviceId":"RBP001","event":"event","format":"json","qos":"","name":"Bluemix","x":660,"y":120,"wires":[]},{"id":"859a55c1.5c4678","type":"function","z":"9c350e61.78843","name":"temperature","func":"var temperature = msg.payload.temperature;\nmsg.payload = {'temperature' : {'temperature' : temperature}};\nreturn msg;","outputs":"1","noerr":0,"x":250,"y":220,"wires":[["21178f23.9649a"]]},{"id":"35da13a9.f40a8c","type":"function","z":"9c350e61.78843","name":"temperature and humidity","func":"var humidity = msg.payload.humidity;\nvar temperature = msg.payload.temperature;\nmsg.payload = {'d' : {'temperature' : temperature, \n                      'humidity'    : humidity}};\nreturn msg;","outputs":"1","noerr":0,"x":270,"y":140,"wires":[["323bdeea.4b1ff2"]]},{"id":"323bdeea.4b1ff2","type":"function","z":"9c350e61.78843","name":"ts","func":"msg.payload.d.ts = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["a5fded00.c4b12","622c17c1.aaa4f8"]]},{"id":"f59c71db.1540c","type":"wiotp-credentials","z":"","name":"raspberryPi","org":"a7mb8z","serverName":"","devType":"raspberryPi","devId":"RBP001","keepalive":"60","cleansession":true,"tls":"","usetls":false}]