flujo2.txt
[{"id":"c2e3b3ed.46576","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":180,"wires":[["41f782b8.a74f5c"]]},{"id":"a291dbb.2cc2128","type":"cloudant out","z":"deb0d57.1c46528","name":"","cloudant":"","database":"raspberry","service":"IoT Raspberry Sensors-cloudantNoSQLDB","payonly":true,"operation":"insert","x":560,"y":180,"wires":[]},{"id":"41f782b8.a74f5c","type":"function","z":"deb0d57.1c46528","name":"flatten schema","func":"msg.payload = msg.payload.d;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["1ce8719b.1dceae","a291dbb.2cc2128"]]},{"id":"1ce8719b.1dceae","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"false","x":570,"y":240,"wires":[]}]